/* CSS files add styling rules to your content */

body {
  height: 50vh;
  margin: 0;
  padding: 1rem;
  display: grid;
  place-items: center;
  font-family: system-ui;
}

h1 {
  background: white;
  padding: 1rem 2rem;
  text-align: center;
}

#bouton1 {
  display: block;
  padding: 1rem;
  font-size: 1rem;
  font-weight: normal;
  font-family: monospace;
}

#color {
  margin: 1em;
}

#image { 
  cursor: pointer;
  position: center; 
  transition: all 1s;
}